<div class="add-expense">
  <form class="" method="post">
    <div class="row">
      <label for="">Date</label>
      <ng-datepicker ng-model="newexpense.date"></ng-datepicker>
    </div>
    <div class="row">
      <label for="">Purpose</label>
      <select ng-model="newexpense.purpose" ng-options="purpose for purpose in ['Electicity Bill', 'Internet Bill', 'Transportation']"></select>
    </div>
    <div class="row">
      <label for="">Description</label>
      <textarea name="desc" rows="8" cols="40" ng-model="newexpense.description"></textarea>
    </div>
    <div class="row">
      <label for="">Amount</label>
      <input type="number" name="name" value="" ng-model="newexpense.amount">
    </div>
    <div class="row">
      <button type="button" name="submit" ng-click="addExpense()">Add</button>
      <button type="reset" name="cancel">Cancel</button>
    </div>
  </form>
</div>
