<div class="add-expense">
  <form class="" method="post">
    <div class="row">
      <label for="">Date</label>
      <input type="text" name="date" value="">
    </div>
    <div class="row">
      <label for="">Purpose</label>
      <select class="" name="">

      </select>
    </div>
    <div class="row">
      <label for="">Description</label>
      <textarea name="desc" rows="8" cols="40"></textarea>
    </div>
    <div class="row">
      <label for="">Amount</label>
      <input type="number" name="name" value="">
    </div>
    <div class="row">
      <button type="submit" name="submit">Add</button>
      <button type="reset" name="cancel">Cancel</button>
    </div>
  </form>
</div>
