<div class="wrapper" >
	<div class="container">
		<form class="form" name="userForm" novalidate>
            <h1>Welcome</h1>
            <span ng-if="error">Enter all details..</span>
            <span ng-if="emailerror">Enter a valid email.</span>
            <span ng-if="validationerror">Enter correct details.</span>
            <div>
    			<input type="text" placeholder="Email" ng-model="email" id="email">
    			<input type="password" placeholder="Password" ng-model="password" id="password" >
    			<button type="button" id="login-button" ng-click= "submitLogin(email,password)">Login</button>
            </div>
		</form>	
	</div>
</div>
