<div class="login-box">
    <div class="login-header">
        Login Here
    </div>
    <div class="login-body">
        <div class="row">
            <input type="text" name="username" placeholder="Username" value="">
        </div>
        <div class="row">
            <input type="text" name="password" placeholder="password" value="">
        </div>
        <div class="row">
            <button type="submit" class="red-button" name="submit-button">Login</button>
        </div>
    </div>
</div>
