@media (max-width: 768px) {
    .logo, .menu-item {
        width: 20%;
    }
    .heading {
        width: 50%;
    }
    .login-box {
        margin: 20% auto;
    }
}
@media (max-width: 480px) {
    .main-heading {
        height: 200px;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        flex-direction: column;
    }
    .logo, .menu-item, .heading {
        width: 100%;
        text-align: center;
    }
    .login-box {
        margin: 20% auto;
        max-width: 400px;
    }
}
